@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td{
  max-width: 180px;
}

table {
  border-collapse: collapse;
  width: 100%;
}